#mainDiv {
  position: relative;
  width: 100%;
}


#featured {
  position: relative;
  top: 30px;
  margin: 20px 10px 60px 0px;
  padding-bottom: 30px;
  //background-image: linear-gradient(rgba(18, 18, 18, 0.84), rgba(164, 164, 164, 0.8)); //rgba(164, 164, 164, 0.8);
  background-image: linear-gradient(rgb(6, 24, 34), rgb(239, 217, 141)); //rgba(164, 164, 164, 0.8);
  width: 100%;
  .title {
    display: block;
    margin-top: 20px;
    margin-left: 60px;
    font-size: 24px;
    color: white;
  }
  .content {
    margin: 20px;
  }
}

.fitem {
  height: 180px;
  background-color: #f3f3f3;
  border: 1px solid rgba(10, 10, 10, 0.6);
  padding: 10px;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8); //, 4px 2px 6px rgba(10, 10, 10, 0.6);
  border-radius: 10px;
}

@media (min-width: 768px) {
  .fitem { height: 140px; }
}

@media (min-width: 992px) {
  .fitem { height: 180px; }
}




.img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center; /* Align center inline elements */
  font: 0/0 a;
}

.img-container:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.img-container img {
  padding: 10px;
  width: 75%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}
