$gpwlogo-red: #CC0001;
$gpwlogo-yellow: yellow;
$menubar-grey: #2A2A2A;

body {
  overflow-x: hidden;
}



#gopikaContainer {
  margin-top: 85px;
  min-height: calc(100vh - 20px);
  display: block;
  background-image: url("../images/mysore-palace-bg.png");
  background-repeat:round;
}

#footerDiv {
  position: relative;
  min-height: 40px;
  width: 100%;
  background-color: #2c2c2c;
  color: white;
  margin-bottom: 5px;
  text-align: center;
  padding: 8px;
}

.footercontact {
  display: block;
  font-size: 12px;
}

.copyright {
  font-size: 14px;
}

@media (min-width: 768px) {
  #footerDiv {
    min-height: 60px;
    padding: 12px;
  }

  .copyright {
    font-size: 18px;
  }

  .footercontact {
    display: block;
    font-size: 14px;
  }
}

