$product-grid-image-height: 240px;

.gpw-filter-heading {
  font-weight: bold;
  background-color: #c8c8c8;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.thumbnail {
  height: 290px; // change back to 325px after adding product details button
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}


.caption {
  padding: 10px;
}

/* override defaults with gpw-custom-grid settings */

.gpw-custom-grid {

  .list-group-item-heading {
    text-align: center;
  }

  .list-group-image {
    height: 80%;
    width: auto;
    padding: 10px;
  }
  .portrait {
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
  }

  .straight {
  }

  .landscape {
  }


}

  .media-left.landscape img {
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
  }

  .modal-body {
    padding: 20px;
  }

  .media-object {
    height: 100px;
    padding: 15px;
    border: 1px solid grey;
  }

  .glyphicon {
    margin-right: 5px;
  }

  .item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
  }

  .item-hover:hover {
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.8);
  }

  .list-group-item-text {
    margin: 0 0 11px;
  }

  .clickable {
    cursor: pointer;
  }

  .modal {
    padding-top: 75px;
  }

  .modal-header h4 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }

  input {
    outline: none;
  }

  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
  }

  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }

  .left-inner-addon {
    position: relative;
  }

  .left-inner-addon input {
    padding-left: 30px;
  }

  .left-inner-addon i {
    position: absolute;
    padding: 15px 12px;
    pointer-events: none;
  }

  input[type=search] {
    margin-left: 10px;
    border: solid 1px #ccc;
    padding: 5px 20px 5px 35px;
    width: 70%;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }

  input[type=search]:focus {
    margin-left: 5px;
    width: 75%;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  }

  .checkbox {
    padding-left: 25px;
  }

  .checkbox label {
    font-size: 1.1em;
    padding: 5px 20px 5px 20px;
  }

  .modal-backdrop {
    background: none;
  }

  .sim-products-body {
    height: calc(100vh - 500px);
    overflow-y: auto;
  }

  .simImage {
    width: 150px;
    height: 150px;
    padding: 0 25px 0px 25px;
  }

  .simImage img {
    /* float:left; */
    width: auto;
    height: 150px;
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
    margin: 0;
  }

  .sim-straight img {
    float: left;
    width: 125px;
    height: 75px;

  }

  .sim-square img {
    float: left;
    width: auto;
    height: 80px;
  }

  .simImage span {
    display: block;
    width: 75px;
  }

