<div class="container" id="contactDiv">
  <div class="row" >
    <div class="col-md-6">
      <form>
      <div class="form-group">

        <label for="InputName">Your Name</label>
        <div class="input-group">
        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        </div>
      </div>
      <div class="form-group">
        <label for="InputEmail">Your Email</label>
        <div class="input-group">
          <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required>
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          </div>
      </div>
      <div class="form-group">
        <label for="mobile">Contact Number</label>
        <div class="input-group">
          <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter Phone number" required>
          <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
        </div>
      </div>
      <div class="form-group">
        <label for="InputMessage">Message</label>
        <textarea name="InputMessage" id="InputMessage" rows="8" class="form-control" placeholder="Describe your requirement: Please include Product Name,Quantity etc.." required></textarea>
      </div>

      <input type="submit" name="submit" id="submit" value="Send Message" class="btn btn-info pull-right">
      </form>
    </div>


  <div class="col-lg-5 col-md-push-1">

    <h3><span class="glyphicon glyphicon-globe"></span> Office Location</h3>
    <address>
    <p class="lead"><a href="#">Gopika Perfumary Works<br></a>
      Ramanuja Road, Mysore<br>
      Phone: XXX-XXX-XXXX<br>
      Fax: XXX-XXX-YYYY</p>
    </address>
  </div>
</div>

</div>
