<div class="container" id="contactDiv">
  <div class="row" >
    <div class="col-md-6" ng-if='status === States.init'>
      <form ng-submit="submitMessage()">
      <div class="form-group">
        <label for="InputName">Your Name</label>
        <div class="input-group">
        <input type="text" class="form-control" name="name" id="InputName" placeholder="Enter Name" ng-model="cinfo.name" required>
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        </div>
      </div>
      <div class="form-group">
        <label for="InputEmail">Your Email</label>
        <div class="input-group">
          <input type="email" class="form-control" id="InputEmail" name="email" placeholder="Enter Email" ng-model="cinfo.email" required>
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          </div>
      </div>
      <div class="form-group">
        <label for="mobile">Contact Number</label>
        <div class="input-group">
          <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter Phone number" ng-model="cinfo.phone" required>
          <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
        </div>
      </div>
      <div class="form-group">
        <label for="InputMessage">Message</label>
        <textarea name="InputMessage" id="InputMessage" rows="8" class="form-control" placeholder="Describe your requirement: Please include Product Name,Quantity etc.." ng-model="cinfo.msg" required></textarea>
      </div>
      <input type="submit" name="submit" id="submit" value="Send Message" class="btn btn-info pull-right">
      </form>
    </div>
    <div class="col-md-6" ng-if='status !== States.init'>
      <div ng-class = '{"gpw-success-msg": status === States.success, "gpw-error-msg": status === States.failure}'> <h4> {{statusMessage}} </h4></div>
    </div>

    <div class="col-lg-5 col-md-push-1">
    <h3><span class="glyphicon glyphicon-globe"></span> Office Location</h3>
    <address>
    <p class="lead"><a href="#"><strong>Gopika Perfumery Works</strong><br></a>
      12th Cross Ramanuja Road, Mysore<br>
      Phone: +91 821 2529529<br>
      email: marketing@gopikaindia.com<br>
    </p>
    </address>
  </div>
</div>

</div>
